[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
demucs = "*"
yt-dlp = "*"
tensorflow = "*"
tensorflow-hub = "*"
librosa = "*"
soundfile = "*"
numpy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
matplotlib = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
